langchain
langchain-community
langchain-core
langchain-huggingface
langchain-openai
sentence-transformers
chromadb
python-dotenv
pypdf
langchain-groq
langgraph
youtube_transcript_api
graphviz
fastapi
sqlalchemy
uvicorn
langgraph-checkpoint-sqlite
kafka